h1 {
    background-color: rgb(233, 187, 127);
    text-align: center;
    height: 150px;
    padding: 40px;
    border: solid gray 5px;
}

#burger-image {
    width: 100%;
    border: solid #ff2000 2px;
    border-radius: 24%;
}

@media only screen and (max-width: 542px) {
    #thataburger {
      width: 80%,
    }
  }

.container-fluid {
    width: 75%;
}

#submit {
    background-color: green;
}

.col-sm {
    margin-top: 40px;
    text-align: center;
}

.create-form {
    text-align: center;
}

#instructions {
    text-align: center;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(235, 174, 184)
}
body {
    height: 800px;
    background: black;
    color: white;
}

.devoured, .change-devour {
    background-color: #ff2000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

#left {
    text-align: right;
}

#right {
    text-align: left;
}

.left {
    text-align: left;
    background-color: rgb(235, 174, 184);
    color: black;
}

#glow {
    font-size: 24px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.devoured, .change-devour, #instructions {
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff2000, 0 0 40px #ff2000, 0 0 50px #ff2000, 0 0 60px #ff2000, 0 0 70px #ff2000;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff2000, 0 0 40px #ff2000, 0 0 50px #ff2000, 0 0 60px #ff2000, 0 0 70px #ff2000, 0 0 80px #ff2000;
    }
}
